/.Build
/Build/testing-docker/.env
/.idea
/public
/var
composer.lock
.cache
config
composer.json.testing
Thumbs.db
.DS_Store
.editorconfig
.php-cs-fixer.cache
/vendor
/Tests/Acceptance/Support/_generated/